[Desktop Entry]
Name=EasySlideshowDesktop
Comment= Slideshow that displays the images of multiple folders in a randomized order.
Exec=/usr/bin/easyslideshow
Icon=/usr/share/icons/hicolor/scalable/apps/easyslideshow.svg
Type=Application
Categories=Graphics;Utility;
